import(methods)
importFrom("grDevices", "grey")
importFrom("graphics", "box", "lines", "par", "rect", "segments",
             "text", "title")
importFrom("stats", "cycle", "deltat", "end", "frequency", "is.ts",
             "na.omit", "start", "time", "ts", "tsp")
exportMethods(
    "plot",
    "show",
    "summary",
	  "window"
)
exportClasses(
    "BCDating" 
)
export(BBQ,avgts)